.privacyPolicy {
  position: relative;
}
.items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.allRightsReserved {
  flex: 1;
  position: relative;
  text-align: right;
}
.textBar {
  position: absolute;
  top: 585px;
  left: 120px;
  width: 1201px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: var(--font);
}
.icon {
  position: relative;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.text02,
.thisIsA {
  align-self: stretch;
}
.thisIsA {
  position: relative;
  line-height: 150%;
}
.text02 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.div,
.icon1 {
  position: relative;
  flex-shrink: 0;
}
.icon1 {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.div {
  display: inline-block;
  width: 306.1px;
}
.text011 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.elginStCelina {
  position: relative;
  display: inline-block;
  width: 274px;
  flex-shrink: 0;
}
.text,
.text01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text01 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-5xl);
  color: var(--font);
}
.text {
  position: absolute;
  top: 102px;
  left: 123px;
  width: 370px;
  justify-content: flex-start;
  gap: var(--gap-37xl);
}
.menu {
  position: relative;
  font-size: var(--p-size);
  text-transform: capitalize;
  font-weight: 500;
  color: var(--font);
}
.footerMenu04 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.cashOnDelivery {
  position: relative;
  font-size: var(--p-size);
  display: none;
}
.textMenu {
  position: absolute;
  top: 102px;
  left: 637px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-69xl);
}
.footer {
  position: absolute;
  top: 1433px;
  left: 0;
  background-color: var(--blue);
  width: 1440px;
  height: 651px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-medium-size);
  color: var(--color-gray-1200);
  font-family: var(--p);
}
