.cadre {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--font);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1032px;
  height: 669px;
}
.backIcon,
.forwardIcon {
  position: absolute;
  top: 31px;
  left: 9px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.forwardIcon {
  top: 29px;
  left: 990px;
  width: 33px;
  height: 33px;
}
.date,
.jour {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 148.8%;
  display: inline-block;
  width: 114px;
  height: 29px;
}
.date {
  top: 30px;
  left: 4px;
  font-size: var(--typography-label-medium-size);
  width: 90px;
}
.dateJour,
.dateJour1,
.dateJour2,
.dateJour3 {
  position: absolute;
  top: 29px;
  left: 48px;
  width: 114px;
  height: 59px;
}
.dateJour1,
.dateJour2,
.dateJour3 {
  top: 30px;
  left: 185px;
}
.dateJour2,
.dateJour3 {
  left: 322px;
}
.dateJour3 {
  top: 29px;
  left: 459px;
}
.dateJour4,
.dateJour5,
.dateJour6,
.heureChild {
  position: absolute;
  top: 30px;
  left: 596px;
  width: 114px;
  height: 59px;
}
.dateJour5,
.dateJour6,
.heureChild {
  top: 31px;
  left: 733px;
}
.dateJour6,
.heureChild {
  top: 35px;
  left: 870px;
}
.heureChild {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  width: 102px;
  height: 28px;
}
.div {
  position: absolute;
  top: 3px;
  left: 23px;
  line-height: 148.8%;
  display: inline-block;
  width: 56px;
  height: 22px;
}
.heure,
.heure1,
.heure2,
.heure3,
.heure4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 28px;
}
.heure1,
.heure2,
.heure3,
.heure4 {
  top: 185px;
}
.heure2,
.heure3,
.heure4 {
  top: 370px;
}
.heure3,
.heure4 {
  top: 37px;
}
.heure4 {
  top: 222px;
}
.heure10,
.heure5,
.heure6,
.heure7,
.heure8,
.heure9 {
  position: absolute;
  top: 407px;
  left: 0;
  width: 102px;
  height: 28px;
}
.heure10,
.heure6,
.heure7,
.heure8,
.heure9 {
  top: 74px;
}
.heure10,
.heure7,
.heure8,
.heure9 {
  top: 259px;
}
.heure10,
.heure8,
.heure9 {
  top: 444px;
}
.heure10,
.heure9 {
  top: 111px;
}
.heure10 {
  top: 296px;
}
.colonneHeure,
.heure11,
.heure12,
.heure13,
.heure14 {
  position: absolute;
  top: 481px;
  left: 0;
  width: 102px;
  height: 28px;
}
.colonneHeure,
.heure12,
.heure13,
.heure14 {
  top: 148px;
}
.colonneHeure,
.heure13,
.heure14 {
  top: 333px;
}
.colonneHeure,
.heure14 {
  top: 518px;
}
.colonneHeure {
  top: 103px;
  left: 40px;
  height: 546px;
  font-size: var(--font-size-mini);
}
.colonneHeure1,
.colonneHeure2,
.colonneHeure3,
.colonneHeure4,
.colonneHeure5,
.jourEtHeure {
  position: absolute;
  top: 103px;
  left: 177px;
  width: 102px;
  height: 546px;
  font-size: var(--font-size-mini);
}
.colonneHeure2,
.colonneHeure3,
.colonneHeure4,
.colonneHeure5,
.jourEtHeure {
  top: 100px;
  left: 436px;
}
.colonneHeure3,
.colonneHeure4,
.colonneHeure5,
.jourEtHeure {
  left: 573px;
}
.colonneHeure4,
.colonneHeure5,
.jourEtHeure {
  top: 103px;
  left: 731px;
}
.colonneHeure5,
.jourEtHeure {
  top: 100px;
  left: 862px;
}
.jourEtHeure {
  top: 1481px;
  left: 193px;
  width: 1030px;
  height: 667px;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-arial);
}
