
.containers {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.table1 {
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        display: none;
    }
}