.cardChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffefd7;
  width: 1198px;
  height: 449px;
}
.span {
  color: var(--color-darksalmon-100);
}
.span1 {
  color: #f0a395;
}
.span2 {
  font-size: var(--font-size-13xl);
}
.b,
.wowVeryAmazing {
  position: relative;
}
.wowVeryAmazing {
  font-size: var(--font-size-xl);
  line-height: 193%;
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 461px;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.stevanusPutri {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 193%;
  font-weight: 500;
  font-family: var(--p);
  color: var(--color-black);
}
.text {
  position: absolute;
  top: 56px;
  left: 101.8px;
  width: 460.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.card,
.path02Icon {
  position: absolute;
  top: 287px;
  left: 122px;
  width: 1198px;
  height: 449px;
}
.path02Icon {
  top: 475px;
  left: 0;
  width: 184px;
  height: 308px;
  overflow: hidden;
  object-fit: contain;
}
.frameChild,
.frameItem {
  position: relative;
  height: 10px;
}
.frameChild {
  border-radius: 35.56px;
  background-color: #ff7a00;
  width: 26px;
}
.frameItem {
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 10px;
}
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.arrowRightIcon {
  object-fit: contain;
}
.arrowRightIcon,
.arrowRightIcon1 {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowRightParent,
.pagenation {
  display: flex;
  flex-direction: row;
}
.arrowRightParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.pagenation {
  position: absolute;
  top: 760px;
  left: 122px;
  width: 1198px;
  align-items: center;
  justify-content: space-between;
}
.section6Child {
  position: absolute;
  top: 287px;
  left: 780px;
  border-radius: 13px;
  width: 540px;
  height: 449px;
  object-fit: cover;
}
.section6 {
  position: absolute;
  top: 5615px;
  left: -3px;
  width: 1440px;
  height: 806px;
  font-size: var(--font-size-45xl);
  color: var(--color-darksalmon-200);
}
.whatCustomersSay {
  position: absolute;
  top: 1330px;
  left: 163px;
  font-size: var(--font-size-33xl);
  font-weight: 500;
  color: var(--color-lightcoral-100);
  display: inline-block;
  width: 685px;
}
.path01Icon {
  position: absolute;
  top: 1237px;
  left: 1258px;
  width: 224px;
  height: 325px;
  overflow: hidden;
  object-fit: contain;
}
.icon,
.seeMore {
  position: relative;
}
.seeMore {
  line-height: 193%;
}
.icon {
  width: 17px;
  height: 17px;
}
.button,
.text2 {
  display: flex;
  align-items: center;
}
.text2 {
  flex-direction: row;
  justify-content: flex-start;
  gap: 11px;
}
.button {
  position: absolute;
  top: 1139px;
  left: 632px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 185px;
  height: 56px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-base);
  font-size: var(--p-size);
  color: var(--blue);
  font-family: var(--p);
}
.imageIcon {
  position: relative;
  width: 373px;
  height: 373px;
  object-fit: cover;
}
.washCream {
  font-weight: 600;
}
.div,
.starIcon,
.washCream {
  position: relative;
}
.starIcon {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  line-height: 193%;
  font-weight: 500;
}
.icon1,
.title {
  display: flex;
  flex-direction: row;
}
.icon1 {
  width: 48px;
  height: 23px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--typography-label-medium-size);
  font-family: var(--p);
}
.title {
  width: 373px;
  align-items: flex-end;
  justify-content: space-between;
}
.fcfa {
  text-decoration: line-through;
}
.div1,
.fcfa {
  position: relative;
  font-weight: 500;
}
.text4,
.text5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-red-200);
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  font-size: var(--typography-label-medium-size);
  color: var(--color-red-100);
}
.text4 {
  align-items: center;
  gap: var(--gap-base);
}
.fcfa1 {
  position: relative;
  font-size: var(--typography-label-medium-size);
  display: inline-block;
  color: var(--color-darksalmon-100);
  width: 113px;
  flex-shrink: 0;
}
.text3 {
  width: 371px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-101xl);
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--p);
}
.card02,
.title1 {
  display: flex;
  align-items: flex-end;
}
.card02 {
  position: absolute;
  top: 616px;
  left: 943px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.title1 {
  flex-direction: row;
  justify-content: center;
  gap: 144px;
}
.card01 {
  position: absolute;
  top: 73px;
  left: 943px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.section5 {
  position: absolute;
  top: 4107px;
  left: 7px;
  background-color: var(--font);
  width: 1440px;
  height: 1508px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--font1);
}
.consultYourProblem,
.variousShinyProducts {
  font-weight: 500;
  font-family: var(--font-playfair-display);
  display: inline-block;
}
.variousShinyProducts {
  position: absolute;
  top: 949px;
  left: 409px;
  width: 639px;
  height: 68px;
}
.consultYourProblem {
  position: relative;
  width: 531px;
}
.overcomeTreatmentProblems {
  position: relative;
  font-size: var(--p-size);
  line-height: 193%;
  color: var(--sub);
  display: inline-block;
  width: 502px;
}
.button1 {
  background-color: var(--blue);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-13xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--typography-label-medium-size);
  color: var(--font);
}
.consultYourProblemWithTheParent {
  position: absolute;
  top: 33px;
  left: 198px;
  height: 366px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.pathIcon,
.section4Child {
  position: absolute;
  top: 0;
  left: 880px;
  width: 373.3px;
  height: 242.4px;
  object-fit: contain;
}
.pathIcon {
  top: 494px;
  left: 42px;
  width: 265px;
  height: 310px;
  overflow: hidden;
}
.imageChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 464px;
  height: 503.1px;
  object-fit: cover;
}
.frontViewWomanDoingSpaTre,
.image {
  position: absolute;
  top: 37.5px;
  left: 26px;
  width: 412px;
  height: 465.6px;
}
.image {
  top: 300.9px;
  left: 539px;
  width: 464px;
  height: 503.1px;
}
.imageIcon2 {
  position: relative;
  width: 332px;
  height: 332px;
  object-fit: cover;
}
.solidBlackCream {
  position: relative;
  line-height: 193%;
  display: inline-block;
  width: 150px;
  flex-shrink: 0;
}
.icon3,
.text9 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon3 {
  width: 48px;
  height: 23px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--typography-label-medium-size);
}
.text9 {
  width: 331px;
  justify-content: space-between;
}
.card1 {
  position: absolute;
  top: 227px;
  left: 1067px;
  height: 378px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--p-size);
  color: var(--font1);
}
.section4 {
  position: absolute;
  top: 3102px;
  left: -1px;
  background-color: var(--font);
  width: 1440px;
  height: 1057px;
  overflow: hidden;
  font-size: var(--font-size-33xl);
  font-family: var(--p);
}
.imageIcon3 {
  position: relative;
  width: 818px;
  height: 611px;
  object-fit: cover;
  z-index: 0;
}
.icon4,
.image1 {
  position: absolute;
}
.icon4 {
  margin: 0 !important;
  top: 246px;
  left: 349px;
  width: 119px;
  height: 119px;
  object-fit: contain;
  z-index: 1;
}
.image1 {
  top: 0;
  left: 622px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.everyTimeYou,
.quoteToday {
  position: relative;
  line-height: 160%;
}
.everyTimeYou {
  font-size: var(--font-size-13xl);
  font-family: var(--font-playfair-display);
  color: var(--color-black);
  display: inline-block;
  width: 384px;
}
.text10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.aliceWalker {
  position: relative;
  line-height: 160%;
  color: var(--color-black);
}
.card3 {
  background-color: #fdf2e1;
  height: 610px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 71px 119px;
  box-sizing: border-box;
  z-index: 0;
}
.card2,
.pathIcon1 {
  position: absolute;
  left: 0;
}
.pathIcon1 {
  margin: 0 !important;
  top: 334px;
  width: 262px;
  height: 276px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.card2 {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.section3,
.section31 {
  position: absolute;
  top: 87px;
  left: 0;
  width: 1440px;
  height: 611px;
}
.section3 {
  top: 2344px;
  background-color: var(--font);
  height: 721px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  font-family: var(--p);
}
.section2Child {
  position: absolute;
  top: 187.2px;
  left: -26px;
  border-radius: 50%;
  border: 2px solid rgba(240, 163, 149, 0.5);
  box-sizing: border-box;
  width: 444.1px;
  height: 185.8px;
  transform: rotate(-39.44deg);
  transform-origin: 0 0;
}
.imageIcon4 {
  position: relative;
  width: 478px;
  height: 579px;
  object-fit: cover;
}
.div5 {
  position: relative;
  line-height: 160%;
  font-weight: 600;
}
.serenityMassages {
  position: relative;
  font-size: var(--font-size-21xl);
  font-weight: 800;
  color: var(--color-lightcoral-100);
}
.indulgeInBlissful,
.our {
  font-family: var(--font-playfair-display);
}
.indulgeInBlissful {
  font-weight: 800;
  color: var(--color-dimgray-100);
}
.our {
  color: #5f5a56;
}
.rejuvenatingMassagesEscape {
  font-weight: 800;
}
.indulgeInBlissfulRelaxation {
  margin: 0;
}
.yourSenses {
  margin: 0;
  font-weight: 800;
}
.indulgeInBlissfulContainer {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 454px;
  color: var(--color-dimgray-100);
}
.card11,
.text11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card11 {
  align-self: stretch;
  gap: var(--gap-21xl);
}
.beautyIsPartContainer {
  position: relative;
  display: inline-block;
  width: 475px;
}
.revitalizeYourSkinContainer {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 800;
  color: var(--sub);
  white-space: pre-wrap;
}
.text12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-29xl);
  color: var(--blue);
}
.imageIcon5 {
  position: relative;
  width: 620px;
  height: 467px;
  object-fit: cover;
}
.card21 {
  width: 620px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-33xl);
  color: var(--color-lightcoral-100);
}
.card4,
.pathIcon2 {
  position: absolute;
  top: 0;
}
.card4 {
  left: 119px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 103px;
}
.pathIcon2 {
  left: 1259px;
  width: 265px;
  height: 314px;
  overflow: hidden;
  object-fit: contain;
}
.button2 {
  position: absolute;
  top: 883px;
  left: 119px;
  background-color: var(--blue);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-13xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--typography-label-medium-size);
  color: var(--font);
  font-family: var(--p);
}
.section2 {
  position: absolute;
  top: 1385px;
  left: 0;
  width: 1440px;
  height: 828px;
  color: var(--blue);
}
.image2,
.image3 {
  position: absolute;
  top: 388px;
  left: 268px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 67px;
  height: 67px;
}
.image3 {
  top: 0;
  left: 962px;
}
.beautyIsPart1,
.text13 {
  position: absolute;
  width: 1128px;
}
.beautyIsPart1 {
  top: 85px;
  left: 0;
  line-height: 148.8%;
  display: inline-block;
}
.text13 {
  top: -27px;
  left: 135px;
  height: 455px;
}
.background,
.section1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.section1 {
  top: 905px;
  height: 354px;
  text-align: center;
  color: var(--font1);
  font-family: var(--font-poppins);
}
.background {
  top: 0;
  background-color: var(--color-mistyrose);
  height: 859px;
}
.photoDePrsentation {
  position: absolute;
  top: 144px;
  left: 756px;
  border-radius: 299px;
  width: 598px;
  height: 603px;
  object-fit: cover;
}
.bookA {
  position: absolute;
  top: 638px;
  left: 62px;
  display: inline-block;
  font-family: var(--font-arial);
  width: 455px;
  height: 63px;
}
.materialSymbolssearch {
  position: absolute;
  top: 808px;
  left: 406px;
  width: 47px;
  height: 39px;
  overflow: hidden;
}
.searchBarre {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-100);
  width: 820px;
  height: 82px;
}
.boutonSearchIcon {
  position: absolute;
  top: 21px;
  left: 765px;
  width: 41px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.barreDeRecherche1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-300);
  width: 374px;
  height: 66px;
}
.specialisteInstitute {
  position: absolute;
  top: 18px;
  left: 31px;
}
.barreDeRecherche2,
.instituteSearch {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 374px;
  height: 66px;
}
.barreDeRecherche2 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-whitesmoke-300);
  width: 323px;
}
.location,
.locationSearch {
  position: absolute;
  top: 18px;
  left: 15px;
}
.locationSearch {
  top: 8px;
  left: 417px;
  width: 323px;
  height: 66px;
}
.barreDeRecherche {
  position: absolute;
  top: 747px;
  left: 62px;
  width: 820px;
  height: 82px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
.beautyCareAt {
  position: absolute;
  top: 390px;
  left: 72px;
  font-family: var(--font-arial);
  color: var(--color-black);
}
.span4 {
  font-size: var(--font-size-29xl);
}
.shiny {
  font-size: 96px;
  color: #f07777;
}
.welcomeToShinyContainer {
  position: absolute;
  top: 261px;
  left: 62px;
  font-family: var(--font-arial);
  font-size: var(--font-size-45xl);
  color: var(--color-black);
}
.acceuil {
  position: relative;
  background-color: var(--font);
  width: 100%;
  height: 7176px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-lightcoral-100);
  font-family: var(--font-playfair-display);
}
