.localisation {
  position: absolute;
  top: 0;
  left: 24.8px;
  line-height: 148.8%;
  display: inline-block;
  width: 73.5px;
  height: 30px;
}
.locationIcon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15.6px;
  height: 23px;
  object-fit: cover;
}
.location {
  position: absolute;
  top: 174px;
  left: 171px;
  width: 98.3px;
  height: 30px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.avis1 {
  position: absolute;
  top: 6px;
  left: 35px;
  display: inline-block;
  width: 120px;
  height: 19px;
}
.avis,
.starIcon {
  position: absolute;
  height: 27px;
}
.starIcon {
  top: 0;
  left: 0;
  width: 29.4px;
  object-fit: cover;
}
.avis {
  top: 174px;
  left: 289px;
  width: 155px;
  font-size: var(--font-size-mini);
  color: var(--color-darkslategray);
}
.titreService {
  position: absolute;
  top: 139px;
  left: 147px;
  font-size: var(--font-size-5xl);
  line-height: 148.8%;
  display: inline-block;
  text-align: center;
  width: 210.5px;
  height: 43px;
}
.cadre {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--font);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1033px;
  height: 116px;
}
.prestation,
.tempsPrix,
.tempsPrix1 {
  position: absolute;
  top: 22.4px;
  left: 31px;
  line-height: 148.8%;
  display: inline-block;
  width: 259px;
  height: 41.3px;
}
.tempsPrix,
.tempsPrix1 {
  top: 60.1px;
  left: 41px;
  width: 87px;
  height: 26.9px;
}
.tempsPrix1 {
  left: 131px;
  white-space: pre-wrap;
  width: 138px;
}
.prestationSelectChild {
  position: absolute;
  top: 76.3px;
  left: 122px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 7px;
  height: 6.3px;
}
.prestationSelect {
  position: absolute;
  top: 296px;
  left: 179px;
  width: 1031px;
  height: 114px;
  font-size: var(--font-size-5xl);
}
.date,
.heure,
.modifier {
  position: absolute;
  top: 44px;
  left: 21px;
  line-height: 148.8%;
  display: inline-block;
  width: 215px;
  height: 31px;
}
.heure,
.modifier {
  left: 259px;
  color: var(--color-darkslategray);
  width: 101px;
}
.modifier {
  left: 874px;
  color: var(--color-dodgerblue);
  text-align: center;
  width: 149px;
  height: 32.3px;
  cursor: pointer;
}
.dateEtHeureSelectChild {
  position: absolute;
  top: 64.2px;
  left: 239.5px;
  width: 7px;
  height: 6.3px;
}
.dateEtHeureSelect {
  position: absolute;
  top: 523px;
  left: 179px;
  width: 1031px;
  height: 114px;
  font-size: var(--font-size-5xl);
}
.cadre2 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--font);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 1033px;
  height: 506px;
}
.titreService1,
.titreService2 {
  position: absolute;
  top: 23px;
  left: 258px;
  line-height: 148.8%;
  display: inline-block;
  width: 510px;
  height: 43px;
}
.titreService2 {
  top: 275px;
}
.cerUnCompte {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: var(--font);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 742px;
  height: 85px;
}
.titreService3 {
  position: absolute;
  top: 20px;
  left: 115px;
  line-height: 148.8%;
  display: inline-block;
  width: 510px;
  height: 43px;
}
.crerCompte {
  position: absolute;
  top: 105px;
  left: 160px;
  width: 740px;
  height: 83px;
  cursor: pointer;
  font-size: var(--font-size-11xl);
}
.cerUnCompte1 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  background-color: #2b2727;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 742px;
  height: 85px;
}
.crerCompte1 {
  position: absolute;
  top: 353px;
  left: 160px;
  width: 740px;
  height: 83px;
  cursor: pointer;
  font-size: var(--font-size-11xl);
  color: var(--font);
}
.or {
  position: absolute;
  top: 0;
  left: 369px;
  line-height: 148.8%;
  display: inline-block;
  width: 96px;
  height: 43px;
}
.orBarreChild,
.orBarreItem {
  position: absolute;
  top: 15.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 372px;
  height: 1px;
}
.orBarreItem {
  left: 462.5px;
}
.orBarre {
  position: absolute;
  top: 223px;
  left: 98px;
  width: 834px;
  height: 43px;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.identification1 {
  position: absolute;
  top: 758px;
  left: 179px;
  width: 1031px;
  height: 504px;
  text-align: center;
}
.identificationChild {
  position: absolute;
  top: 189px;
  left: 277px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 7px;
  height: 7px;
}
.prestationSlectionne {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-24xl);
}
.titreService5,
.titreService6,
.titreService7 {
  position: absolute;
  top: 235px;
  left: 173px;
  line-height: 148.8%;
  display: inline-block;
  width: 415px;
  height: 43px;
}
.titreService6,
.titreService7 {
  top: 449px;
  left: 171px;
  width: 510px;
}
.titreService7 {
  top: 676px;
}
.identification {
  position: relative;
  background-color: var(--font);
  width: 100%;
  height: 2084px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-arial);
}
