.plusIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
}
.plusIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.addPaymentMethod {
  position: absolute;
  top: 653px;
  left: 54px;
  border-radius: var(--br-9xs);
  width: 259px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  cursor: pointer;
}
.paiementChild,
.paymentMethodChild {
  position: absolute;
  top: 607px;
  left: 54px;
  background-color: var(--space-cadet);
  width: 1017px;
  height: 2px;
  opacity: 0.2;
}
.paymentMethodChild {
  top: 67.1px;
  left: 0;
  border-radius: var(--br-11xs);
  background-color: var(--font);
  border: 1px solid var(--space-cadet);
  box-sizing: border-box;
  height: 158.1px;
}
.div {
  position: absolute;
  top: 2.8px;
  left: 94.3px;
  letter-spacing: 0.1px;
  line-height: 20px;
  display: inline-block;
  width: 90.5px;
  height: 28px;
}
.mastercardIcon,
.radioOffChild {
  position: absolute;
  top: 5.6px;
  left: 44.6px;
  width: 29.8px;
  height: 23.8px;
}
.radioOffChild {
  height: 83.33%;
  width: 83.22%;
  top: 8.33%;
  right: 8.39%;
  bottom: 8.33%;
  left: 8.39%;
  border-radius: var(--br-3xs);
  border: 2px solid var(--cool-grey);
  box-sizing: border-box;
}
.radioOff {
  position: absolute;
  top: 0;
  left: 0;
  width: 29.8px;
  height: 33.6px;
}
.proceed {
  position: absolute;
  top: 2.8px;
  left: 886.8px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  color: var(--imperial-red);
}
.expires112020,
.method2 {
  position: absolute;
  height: 33.6px;
}
.expires112020 {
  top: 0;
  left: 225.7px;
  line-height: 24px;
  color: var(--cool-grey);
  display: inline-block;
  width: 153.8px;
}
.method2 {
  top: 169.3px;
  left: 29.8px;
  width: 947.8px;
}
.paymentMethodItem {
  position: absolute;
  top: 145.5px;
  left: 0;
  background-color: var(--space-cadet);
  width: 1017px;
  height: 1.4px;
  opacity: 0.2;
}
.proceed1 {
  position: absolute;
  top: 2.8px;
  left: 884.3px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.expires1120201 {
  top: 0;
  left: 224.5px;
  line-height: 24px;
  color: var(--cool-grey);
  display: inline-block;
  width: 158.8px;
  height: 33.6px;
}
.div1,
.expires1120201,
.visaIcon {
  position: absolute;
}
.div1 {
  top: 2.8px;
  left: 94.3px;
  letter-spacing: 0.1px;
  line-height: 20px;
  color: var(--space-cadet);
  display: inline-block;
  width: 89.3px;
  height: 28px;
}
.visaIcon {
  top: 5.6px;
  left: 44.6px;
  width: 29.8px;
  height: 23.8px;
  object-fit: cover;
}
.radioSelectedChild,
.radioSelectedItem {
  position: absolute;
  height: 83.33%;
  width: 83.22%;
  top: 8.33%;
  right: 8.39%;
  bottom: 8.33%;
  left: 8.39%;
  border-radius: var(--br-3xs);
  background-color: var(--font);
  border: 2px solid var(--verdigris);
  box-sizing: border-box;
}
.radioSelectedItem {
  height: 41.67%;
  width: 41.61%;
  top: 29.17%;
  right: 29.19%;
  bottom: 29.17%;
  left: 29.19%;
  background-color: var(--verdigris);
  border: 1px solid var(--verdigris);
}
.method1,
.paymentMethod1 {
  position: absolute;
  height: 33.6px;
}
.method1 {
  top: 89.5px;
  left: 29.8px;
  width: 945.3px;
  color: var(--imperial-red);
}
.paymentMethod1 {
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 24px;
  display: inline-block;
  width: 204.6px;
}
.paymentMethod {
  position: absolute;
  top: 337.3px;
  left: 54px;
  width: 1017px;
  height: 225.2px;
  color: var(--space-cadet);
}
.facture,
.payment {
  position: relative;
  line-height: 32px;
}
.facture {
  cursor: pointer;
}
.payment {
  color: var(--space-cadet);
}
.steps {
  position: absolute;
  top: 203px;
  left: 54px;
  width: 329px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
  color: var(--cool-grey);
}
.paiement {
  position: relative;
  background-color: var(--font);
  width: 100%;
  height: 2084px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-medium-size);
  color: var(--verdigris);
  font-family: var(--font-arial);
}
