.groupChild {
  top: 0;
  left: 0;
  background-color: var(--font);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25),
    5px 5px 5px rgba(0, 0, 0, 0.09) inset;
  border: 5px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 580px;
  height: 762px;
}
.groupChild,
.groupItem,
.nom {
  position: absolute;
}
.nom {
  top: 141px;
  left: 52px;
  text-align: center;
}
.groupItem {
  top: 170px;
  left: 51px;
  border-radius: var(--br-3xs);
  background-color: var(--font);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 488px;
  height: 45px;
}
.entrerVotreNom {
  position: absolute;
  top: 183px;
  left: 74px;
  color: var(--color-gray-500);
}
.vousTesUn {
  margin: 0;
}
.vousTesUnContainer {
  position: absolute;
  top: 66px;
  left: 59px;
  font-size: var(--font-size-xl);
  text-align: center;
}
.adresse,
.groupInner {
  position: absolute;
  left: 51px;
}
.adresse {
  top: 330px;
  text-align: center;
}
.groupInner {
  top: 359px;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 227px;
  height: 45px;
}
.tlphone {
  position: absolute;
  top: 232px;
  left: 312px;
  text-align: center;
}
.lineDiv,
.rectangleDiv {
  position: absolute;
  box-sizing: border-box;
}
.rectangleDiv {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow);
  border: 1px solid var(--color-gray-500);
  width: 227px;
  height: 45px;
}
.lineDiv {
  top: -0.5px;
  left: calc(50% - 62px);
  border-right: 1px solid var(--color-gray-500);
  width: 1px;
  height: 47px;
}
.rectangleGroup {
  position: absolute;
  top: 257px;
  left: 312px;
  width: 227px;
  height: 46px;
}
.emojioneflagForCameroonIcon {
  position: absolute;
  top: 269px;
  left: 321px;
  width: 23px;
  height: 23px;
  overflow: hidden;
}
.polygonIcon {
  position: absolute;
  top: 273px;
  left: 344px;
  width: 19px;
  height: 16px;
  object-fit: contain;
}
.span {
  color: var(--color-gray-500);
}
.div {
  position: absolute;
  top: 274px;
  left: 378px;
  text-align: center;
  color: var(--color-black);
}
.regionsVille {
  position: absolute;
  top: 373px;
  left: 75px;
  color: var(--color-gray-500);
}
.spcialists {
  position: absolute;
  top: 458px;
  left: 52px;
  text-align: center;
}
.groupChild1 {
  position: absolute;
  top: 485px;
  left: 118px;
  border-radius: var(--br-3xs);
  background-color: var(--font);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 344px;
  height: 45px;
}
.massage {
  position: absolute;
  top: 499px;
  left: 165px;
  color: var(--color-black);
}
.eiplusIcon,
.groupChild2 {
  position: absolute;
  top: 485px;
}
.groupChild2 {
  left: 54px;
  background-color: var(--color-whitesmoke-200);
  width: 51px;
  height: 45px;
}
.eiplusIcon {
  left: 462px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.div1 {
  position: absolute;
  top: 495px;
  left: 73px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.gridiconsdropdown {
  position: absolute;
  top: 489px;
  left: 411px;
  width: 41px;
  height: 41px;
  overflow: hidden;
}
.email {
  position: absolute;
  top: 226px;
  left: 61px;
  text-align: center;
}
.groupChild3 {
  position: absolute;
  top: 255px;
  left: 51px;
  border-radius: var(--br-3xs);
  background-color: var(--color-snow);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 227px;
  height: 45px;
}
.entrerVotreEmail,
.horiares {
  position: absolute;
  top: 269px;
  left: 75px;
  color: var(--color-gray-500);
}
.horiares {
  top: 570px;
  left: 55px;
  color: var(--color-black);
}
.fermeture,
.ouverture {
  position: absolute;
  top: 610px;
  left: 79px;
  color: var(--color-springgreen);
}
.fermeture {
  top: 612px;
  left: 324px;
  color: var(--color-red-100);
}
.groupChild4,
.groupChild5 {
  position: absolute;
  top: -0.5px;
  box-sizing: border-box;
  height: 33px;
}
.groupChild4 {
  left: -0.5px;
  border-radius: var(--br-12xs);
  background-color: var(--color-gray-700);
  border: 1px solid var(--color-gray-600);
  width: 83px;
}
.groupChild5 {
  left: 40.5px;
  border-right: 1px solid var(--color-gray-800);
  width: 1px;
}
.rectangleContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 32px;
}
.gridiconsdropdown1,
.gridiconsdropdown2 {
  position: absolute;
  top: 6px;
  left: 63px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.gridiconsdropdown2 {
  top: 5px;
  left: 20px;
}
.groupParent,
.hh,
.mm {
  position: absolute;
  top: 7px;
  left: 5px;
}
.groupParent,
.mm {
  left: 43px;
  color: var(--color-gray-1000);
}
.groupParent {
  top: 606px;
  left: 178px;
  width: 87px;
  height: 32px;
  color: var(--color-gray-900);
}
.groupContainer,
.hh1 {
  position: absolute;
  top: 8px;
  left: 6px;
}
.groupContainer {
  top: 606px;
  left: 432px;
  width: 87px;
  height: 32px;
  color: var(--color-gray-900);
}
.groupChild8 {
  position: absolute;
  top: 662px;
  left: 58px;
  border-radius: var(--br-mini);
  background-color: var(--color-lightcoral-200);
  width: 463px;
  height: 65px;
}
.senregistrer {
  position: absolute;
  top: 681px;
  left: 224px;
  font-size: var(--font-size-5xl);
  color: var(--font);
}
.rectangleParent {
  position: absolute;
  top: 159px;
  left: 95px;
  width: 580px;
  height: 762px;
  color: var(--color-gray-400);
}
.librezVosJournesContainer {
  position: absolute;
  top: 464px;
  left: 854px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-1100);
}
.vousEnAvezContainer {
  position: absolute;
  top: 281px;
  right: 259px;
  font-size: var(--font-size-45xl);
  white-space: pre-wrap;
}
.mdiprogressTickIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.plusDe10MillesUtilisateurParent {
  position: absolute;
  top: 559px;
  left: 854px;
  width: 305px;
  height: 24px;
}
.sansEngagement {
  position: absolute;
  top: 0;
  left: 44px;
}
.sansCommissionParent,
.sansEngagementParent {
  position: absolute;
  top: 600px;
  left: 854px;
  width: 182px;
  height: 24px;
}
.sansCommissionParent {
  top: 641px;
  width: 181px;
}
.professionelLogin {
  position: relative;
  background-color: var(--font);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-label-medium-size);
  color: var(--color-black);
  font-family: var(--font-arial);
}
