.none {
    @media screen and (max-width: 768px) {
		display: none;
	}
}

.introd {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
		flex-direction: column;
        margin-bottom: 25px;
	}
}

.right-introd {
    margin-left: 100px;
}

.video {
    @media screen and (max-width: 768px) {
        display: none;
	}
}

.sliders {
    @media screen and (max-width: 768px) {
		flex-direction: column;
	}
}
.no
.sliders .first {
    margin-top: -96px;
    @media screen and (max-width: 768px) {
		margin-top: 0px;
	}
}
.sliders .second {
    margin-top: -137px;
    @media screen and (max-width: 768px) {
		margin-top: 0px;
	}
}

.side-sliders {
    margin-left: 64px;
    @media screen and (max-width: 768px) {
        margin-left: 0px;
	}
}
.what-cust {
    margin-left: 163px;
    font-size: 50px;
    @media screen and (max-width: 768px) {
        margin-left: 20px;
        font-size: 30px;
	}
}
.customer-avis {
    margin-left: 120px;
    @media screen and (max-width: 768px) {
		margin-left: 20px;
	}
}

.side-avis {
    @media screen and (max-width: 768px) {
		display: none
	}
}
.swipe {
    @media screen and (max-width: 768px) {
        width: 30px;
	}
}

.welcome {
    @media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.location-input {
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.book-a {
    padding-top: 110px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.search {
    width: 55%;
    margin-left: 113px;
    height: 70px;
    @media screen and (max-width: 768px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 50px;
    }
}

.product {
    margin-right: 40px;
}
.product-none {
    margin-right: 40px;
    @media screen and (max-width: 768px) {
        display: none;
    }
}