
.form-control:focus {
    border-color: rgba(255, 189, 189, 1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 189, 189, 1);
}

.form-control {
    border-radius: 10px;
}

.btn1 {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgba(255, 189, 189, 1);
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
    /* Smooth transition for background-color and color */
}

.btn1:hover {
    background-color: rgba(255, 100, 100, 1);
    color: white;
}