

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-control:focus {
  border-color: rgba(255, 189, 189, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 189, 189, 1) !important;
}

.form-select:focus {
  border-color: rgba(255, 189, 189, 1) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 189, 189, 1) !important;
}

.form-control {
  border-radius: 10px;
}
